@import '__colors.scss';
@import '__breakpoints.scss';

.hamburger-checkbox {
  position: absolute;
  opacity: 0;
}

.hamburger-label {
  position: absolute;
  top: 24px;
  left: 24px;
  display: block;
  width: 42px;
  height: 42px;
  font: 42px/42px fontawesome;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.hamburger-checkbox:checked~.hamburger-label:before {
  content: '\f00d';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 42px;
  height: 42px;
  font: 42px/42px fontawesome;
  text-align: center;
  color: #000;
}

.sidebar {
  z-index: 10;
  overflow: hidden;
  width: 0;
  background: #fff;
  color: #000;
  background-image: url('../public/struckaxiom.png');
  // transition: width .3s;
  display: flex;
}

.hamburger-checkbox:checked~.sidebar {

  padding-top: 4em;

  @include respond-to(monitor) {
    width: 255px;
    height: calc(100vh - 96px);
  }

  @include respond-to(tablet) {
    width: 255px;
    height: calc(100vh - 48px);
  }

  @include respond-to(movil) {
    width: 170px;
    height: calc(100vh - 48px);
  }

}

.barmenu {
  display: flex;
  flex-direction: column;
  flex-flow: space;
  justify-content: space-between;
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: column;

  li {
    display: flex;
    align-items: center;
    padding: .5em;

    a {
      color: #000;
      text-decoration: none;
    }

    a:hover {
      color: $ink-blog;
      text-decoration: none;
    }
  }
}

.footer {
  @include respond-to(monitor) {
    padding: 0 0 40px 40px;
    width: 175px;
  }

  @include respond-to(tablet) {
    padding: 0 0 40px 40px;
  }

  @include respond-to(movil) {
    padding: 0 0 24px 24px;
    width: 207px;
  }

  display: flex;

  flex-direction: row;
  justify-content: center;
  width: 100%;

  padding: 0 0 40px 40px;
  display: flex;

  justify-content: space-evenly;

  a {
    text-decoration: none;
    color: #000;
  }

  a:hover {
    color: $ink-blog;
  }

  &--icon {
    display: flex;
    margin: 2em 0em 1em 0em;
    padding-top: 2em;
    padding-left: 1em;
    padding: .5em
  }
}
